* {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

.container {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.img {
  width: auto;
  height: 70%;
}

.pelea-contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.divisor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
